
<div class="container">
    <div class="col-12 d-flex flex-column align-items-center">
    <h1>chat</h1>
    <br />
    <div>
        <i id="userName" class="me-1"></i>
        <input type="text" placeholder="type!" id="chatbox" class="p-1 ps-2">
        <div>
            <p id="messagess"></p>

        </div>
    </div>
    </div>

</div>
